@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.tips {
  font-family: "Mulish", sans-serif;
  color: #4d4d4d;
  background-color: #e9f0ea;
  padding-top: 0;
}

.tips-header {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.header-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 35, 23, 0.7);
  z-index: 1;
}
.full-tip {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.full-tip h2 {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  margin-bottom: 20px;
}

.full-tip p {
  font-family: "Mulish", sans-serif;
  font-size: 1em;
  line-height: 1.6;
}

.full-tip-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}
