@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.location-container {
  display: flex;
  background-color: #1a2d21;
  font-family: "Mulish", sans-serif;
}

.address {
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}

.address h2 {
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  font-weight: 500;
  margin-bottom: 1.3rem;
}

.address p {
  font-size: 1.2rem;
  font-weight: 300;
}

.contact-link {
  margin-top: 1rem;
}
.contact-link a {
  color: white;
  text-decoration: none;
}
.contact-link strong {
  padding-right: 5px;
}

.map {
  width: 70%;
  background-color: #d8e7da;
  box-sizing: border-box;
  padding: 20px;
}

.map iframe {
  border: none;
}
