/* Location.css */
.location-container {
  display: flex;
  background-color: #1a2d21;
  font-family: "Mulish", sans-serif;
  padding: 60px 150px 20px;
  flex-direction: column;
}
.footer-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.address {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}

.address h2 {
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  font-weight: 550;
  margin-bottom: 1.3rem;
}

.address p {
  font-size: 1.2rem;
  font-weight: 200;
}

.contact-link {
  margin-top: 1rem;
}

.contact-link a {
  color: white;
  text-decoration: none;
}

.contact-link strong {
  padding-right: 5px;
}

.footer-icons {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.rights-reserved {
  text-align: center;
  color: white;
  font-size: 0.9rem;
  margin-top: 1rem;
  font-weight: 200;
}
.rights-reserved hr {
  height: 1px;
  background-color: rgb(87, 87, 87);
  border: none;
  margin: 10px 0;
}

.rights-reserved p {
  margin-top: 1rem;
}
