  .button {
    position: fixed;
    bottom: 10rem;
    right: 3rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #427c4d;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px #213b26;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    z-index: 10;
  }
  
.show {
  visibility: hidden;
}

  .arrow {
    width: 12px;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrow * {
    fill: white;
  }
  
  .button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: #305b38;
    align-items: center;
  }
  
  .button:hover .arrow {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .button::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  
  