@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

.header {
  background-color: transparent;
  padding: 3.44444rem 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: background-color 0.4s ease-in-out;
}

.header.scrolled {
  background-color: #1a2d21;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.logo img {
  width: 80%;
  /* height: 40px; Adjust size as needed */
}

.nav-links {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  column-gap: 1rem;
}

.nav-links li {
  width: max-content;
  margin-right: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  font-family: "Mulish", sans-serif;
}

.nav-link {
  height: 2rem;
}

.nav-link a:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #fff;
  width: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

.nav-link a:hover:after {
  width: 100%;
}

.nav-link a.active:after {
  width: 100%;
}

.contact-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 50px;
  color: #fff;
  background-color: #427c4d;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.contact-button:hover {
  background-color: #305b38;
  color: #fff;
  transition: 0.3s ease-in-out;
}
