@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.hero-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.hero-slide .hero-image {
  background-size: cover;
  height: 100vh;
  width: 100%;
}
/* dark tint for backgrond image */
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(21, 35, 23, 0.5),
    rgba(21, 35, 23, 8)
  );
  z-index: 1;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-family: "Mulish", sans-serif;
  font-weight: 100;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 70px;
  color: #fff;
  background-color: #427c4d;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  font-size: 1rem;
  letter-spacing: 2px;
  font-family: "Mulish", sans-serif;
}

.hero-text button:hover {
  background-color: #305b38;
  color: #fff;
  transition: 0.3s ease-in-out;
}
/* custom arrow button styles */
.custom-arrow {
  position: absolute;
  bottom: 40px;
  right: 40px;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  animation: floatLeftRight 0.8s ease-in-out infinite alternate; /* Apply animation */
}

@keyframes floatLeftRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}
.custom-arrow img {
  width: 15rem; /* Adjust the size of the SVG as needed */
  transition: transform 0.2s ease-in-out; /* Add a smooth transition */
}

.custom-arrow.clicked img {
  transform: scale(0.95); /* Scale up the image on click */
}
/* Status styles */
.carousel-status {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  color: white;
  padding: 5px 10px;
  z-index: 2;
}
